extends _bootstrap
append styles
    // Custom styles for this template
    link(href='css/jumbotron.css', rel='stylesheet')
block body
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') ddcat
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/ddcat/') 首页
                    li
                        a(href='/ddcat/upload') 文件上传
                    li
                        a(href='/ddcat/tool') 工具
                    li
                        a(href='/ddcat/update') 更新

    .jumbotron
        .container
            h1 Sited插件中心（副）
            p
                | 全球第一个以插件形式提供二次元体验的开放平台！！！
                | 只提供插件不提供内容
            p
                a.btn.btn-primary.btn-lg(href='http://sited.noear.org/', role='button') 学习更多 »
    .container
        .row
            .list-group
                each item in data
                    .list-group-item.clearfix.vertical-center
                        .col-sm-9
                            span.h4 #{item.title}
                            em.small @#{item.author}
                            p #{item.intro}
                        .col-sm-1
                            a.btn.btn-primary(href=item.wk_url, target='_blank') 修改
                        .col-sm-1
                            a.btn.btn-primary(href=item.mc_url, target='_blank') mc修改
                        .col-sm-1
                            a.btn.btn-primary(href=item.url) 安装

        hr
        footer
            p © Company 2018

append scripts
    script(src="js/index.js")