extends _bootstrap
append styles
    // Custom styles for this template
    link(href='css/jumbotron.css', rel='stylesheet')
    link(href='https://cdn.bootcss.com/monaco-editor/0.15.6/min/vs/editor/editor.main.css', rel='stylesheet')

block body
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') ddcat
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/ddcat/') 首页
                    li
                        a(href='/ddcat/upload') 文件上传
                    li
                        a(href='/ddcat/tool') 工具
                    li
                        a(href='/ddcat/update') 更新

    .container
        .row
            .col-md-12
                h4 XML编辑
        form
            div(id='monaco' style="height:800px")
            hr
            button.btn.btn-primary(id='save', type='button') 保存
            button.btn.btn-primary(id='format', type='button') 格式化
            input(type='hidden', id='xml_id', name='xml_id', value=id)
            span(id='result') .
        hr
        footer
            p © Company 2018

append scripts
    script(src="js/monaco_require.js")
    script(src="https://cdn.bootcss.com/monaco-editor/0.15.6/min/vs/loader.js")
    script(src="https://cdn.bootcss.com/monaco-editor/0.15.6/min/vs/editor/editor.main.js")
    script(src="https://cdn.bootcss.com/monaco-editor/0.15.6/min/vs/editor/editor.main.nls.zh-cn.js")
    script(src="https://cdn.bootcss.com/monaco-editor/0.15.6/min/vs/basic-languages/xml/xml.js")
    script(src="js/monaco.js")

