extends _bootstrap
append styles
    // Custom styles for this template
    link(href='css/jumbotron.css', rel='stylesheet')
    link(href='bower_components/codemirror/lib/codemirror.css', rel='stylesheet')
    link(href='bower_components/codemirror/addon/display/fullscreen.css', rel='stylesheet')
    link(href='bower_components/codemirror/theme/night.css', rel='stylesheet')
    link(href='css/tool.css', rel='stylesheet')
    script(src="js/tool.js")

block body
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') ddcat
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='/ddcat/') 首页
                    li
                        a(href='/ddcat/upload') 文件上传
                    li
                        a(href='/ddcat/tool') 工具
                    li.active
                        a(href='/ddcat/update') 更新

    .container
        .row
            .col-md-12
                h4 更新
            section
                div.title builder
                div
                    textarea(id='txt')= str
                p
                    button.btn.btn-primary(type='button' onclick='update()') 更新
                p=data
        form
            textarea(id='code', name='code') #{xml}
            hr

        hr
        footer
            p © Company 2018

append scripts
    script(src="bower_components/codemirror/lib/codemirror.js")
    script(src="bower_components/codemirror/mode/xml/xml.js")
    script(src="js/update.js")