extends _bootstrap
append styles
    // Custom styles for this template
    link(href='css/jumbotron.css', rel='stylesheet')
    link(href='css/demo.css', rel='stylesheet')
    link(href='css/uploader.css', rel='stylesheet')
block body
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') ddcat
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='/ddcat/') 首页
                    li.active
                        a(href='/ddcat/upload') 文件上传
                    li
                        a(href='/ddcat/tool') 工具
                    li
                        a(href='/ddcat/update') 更新
                form.navbar-form.navbar-right
                    .form-group
                        input.form-control(type='text', placeholder='用户名')
                    .form-group
                        input.form-control(type='password', placeholder='密码')
                    button.btn.btn-success(type='submit') 登录

    .jumbotron
        .container
            h1 文件上传
            p
                | 上传sited文件！

    .container
        .page-header
            h1 文件上传
                small 文件拖拽

        .row
            .col-md-6
                .uploader#drag-and-drop-zone
                    div 拖拽文件到这里
                    .or -or-
                    .browser
                        label
                            span 点击打开资源管理器
                            input(type='file', name='files[]', multiple='multiple', title='点击上传文件')
                .panel.panel-default
                    .panel-heading
                        h3 调试
                    .panel-body.demo-panel-debug
                        ul#demo-debug

            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3 上传
                    .panel-body.demo-panel-files#demo-files
                        span.demo-note 还没有文件选择或拖拽进来..

            .alert.alert-info Read the Blog Article and Source code for this Example here:
                a(herf='#') http://blog.daniel.com.uy/2014/01/31/jquery-drag-and-drop-progress-files.html


        hr
        footer
            p © Company 2018
    block content

append scripts
    script(src="js/demo.min.js")
    script(src="js/dmuploader.min.js")
    script(src="js/upload.js")