doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="icon", href="../../favicon.ico")
        title= '视频播放'
        block styles
            link(rel="stylesheet", href="https://vjs.zencdn.net/7.4.1/video-js.css")
            link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/videojs-seek-buttons@1.3.0/dist/videojs-seek-buttons.css")
    body
        div(id='main')
            video(id='my-player' class='video-js' controls preload="auto" width=800 data-setup='{}')
                source(id='source' src=url)
                p(class='vjs-no-js') not support
        div
            - var outUrl = 'vlc-x-callback://x-callback-url/stream?url=' + url
            a(id='btn' href=outUrl target='_blank') 外部播放
        script(src="https://vjs.zencdn.net/7.4.1/video.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.15.0/videojs-contrib-hls.min.js")
        script(src="https://cdn.jsdelivr.net/npm/videojs-seek-buttons@1.3.0/dist/videojs-seek-buttons.min.js")
        script(src="js/vs.js")