extends _bootstrap
append styles
    // Custom styles for this template
    link(href='css/jumbotron.css', rel='stylesheet')
    link(href='bower_components/codemirror/lib/codemirror.css', rel='stylesheet')
    link(href='bower_components/codemirror/addon/display/fullscreen.css', rel='stylesheet')
    link(href='bower_components/codemirror/theme/night.css', rel='stylesheet')

block body
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') ddcat
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/ddcat/') 首页
                    li
                        a(href='/ddcat/upload') 文件上传
                    li
                        a(href='/ddcat/tool') 工具
                    li
                        a(href='/ddcat/update') 更新

    .container
        .row
            .col-md-12
                h4 XML编辑
        form
            textarea(id='code', name='code') #{xml}
            hr
            button.btn.btn-primary(id='save', type='button') 保存
            input(type='hidden',id='xml_id', name='xml_id', value=id)
            span(id='result') .
        hr
        footer
            p © Company 2018

append scripts
    script(src="bower_components/codemirror/lib/codemirror.js")
    script(src="bower_components/codemirror/mode/xml/xml.js")
    script(src="js/workshop.js")
